.square {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #2C363F;
    font-size: 2rem;
    font-weight: bold;
    color: #87CEFA;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 8px;
  }
  
  .square:hover {
    background-color: #87CEFA;
    color: #fff;
  }
  
  .square.x {
    color: #DC3545; /* Red for X */
  }
  
  .square.o {
    color: #218838; /* Green for O */
  }