<div class="container">
  <h1>Tic-Tac-Toe</h1>

  <!-- Game Selector -->
  <select [(ngModel)]="gameMode" (change)="onGameModeChange()">
    <option value="local">Local Game</option>
    <option value="online">Online Game</option>
  </select>

  <!-- Input for online game -->
  <div class="connection-check" *ngIf="gameMode === 'online'">
      <label for="server-url">Server Address:</label>
      <input type="text" id="server-url" [(ngModel)]="serverUrl" placeholder="ws://localhost:8080" />
    
      <button (click)="checkConnection()">Test Connection</button>
    
      <!-- Shows checkmark for game -->
      <label *ngIf="connectionStatus" class="connection-status">
        &#9989;
      </label>
  </div>

  <!-- Mensaje opcional (ejemplo para mensajes de error) -->
  <div *ngIf="message" class="message">{{ message }}</div>

  <!-- Botón para comenzar el juego -->
  <button (click)="startGame()">Start Game</button>

</div>

<!-- Componente del tablero -->
<app-board *ngIf="gameStarted" [isOnline]="gameMode === 'online'" [serverUrl]="serverUrl"></app-board>