body {
  font-family: "Arial", sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-content {
  padding: 100px;
  background: radial-gradient(lightskyblue, #e0e0e0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.container {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #addaf6;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #000;
  margin: 10px;
}

select {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #007bff;
  border-radius: 8px;
  margin-right: 10px;
}

.message {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333;
}

.connection-check {
  margin: 20px;
  text-align: center;
}

#server-url {
  padding: 8px;
  width: 250px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  background: linear-gradient(to bottom right, #DC3545, #ff6a00);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 7px;
  cursor: pointer;
  border-radius: 5px;
}

.button-local-game {
  background: linear-gradient(to bottom right, #007bff, #87CEFA); /* Azul */
}

.button-start-game {
  background: linear-gradient(to bottom right, #ee0979, #ff6a00); /* Naranja */
}

.connection-status {
  margin-top: 10px;
  font-size: 1.2rem;
  color: green;
}

.connection-status.error {
  color: red;
}

.connection-status {
  margin-top: 10px;
  font-size: 1.2rem;
  color: green;
}

.connection-status.error {
  color: red;
}
