body {
    background: radial-gradient(lightskyblue, #e0e0e0);
    height: 100vh;
    margin: 0;
    font-family: "Arial", sans-serif;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }