body {
    background: #d1d1d1;
    height: 100vh;
    margin: 0;
    font-family: "Arial", sans-serif;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }